.card.col-10.mx-auto
  .conteiner
    .row
      .col-10.mx-auto
        .form
          h2 投稿
          = render 'shard/errors', resource: @post
          = render 'form', { post: @post }

javascript:
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    handler.getMap().setCenter(new google.maps.LatLng(35.681298, 139.7640582));
    handler.getMap().setZoom(4);
  });

  function codeAddress() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8
    });
    // 入力を取得
    let inputAddress = document.getElementById("address").value;

    // geocodingしたあとmapを移動
    geocoder.geocode({ address: inputAddress }, function(results, status) {
      if (status == "OK") {
        // map.setCenterで地図が移動
        map.setCenter(results[0].geometry.location); // google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ

        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert("該当する場所がありません");
      }
    });
  }