#img_prev {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  background-size: cover;
  display: block;
}

.file_fields {
  list-style: none;
  .file_field_style {
    display: inline-block;
    display: flex;
    .form-control-file {
      width: 30rem;
    }
  }
}
