.add-image {
  margin-left: 1rem;
  height: calc(1.5em + 0.6rem);
  padding: -0.3rem 0 -0.3rem 0;
}

.f-container {
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .f-item {
    width: 48%;
    margin-bottom: 1rem;
  }
}
