.posts {
  display: flex;
  .card {
    width: 23%;
    margin: 5px 5px 5px 5px;
    .card-img-top {
      height: 150px;
      width: 100%;
    }
    .remove-card {
      margin-left: 5px;
    }
    .like {
      margin-left: 5px;
    }
    .tag {
      margin-left: 5px;
    }
  }
}

.sorts{
  display: flex;
  justify-content: flex-end;
  .sort-likes{
    margin-left: 10px;
  }
}