.posts {
  display: flex;
  .card {
    width: 30%;
    margin: 5px 5px 5px 5px;
    .card-img-top {
      height: 25%;
      width: 100%;
    }
    .remove-card {
      margin-left: 5px;
    }
    .like {
      margin-left: 0.5rem;
    }
    .tag {
      margin-left: 0.5rem;
    }
  }
}

.sorts {
  display: flex;
  justify-content: flex-end;
  .sort-likes {
    margin-left: 1rem;
  }
}

.modal-user-name {
  font-size: 2rem;
  margin-left: 3rem;
}
