.index-header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  .popular-tags {
    height: 1.5rem;
    display: flex;
    margin: auto;
    &__text {
      overflow-x: auto;
    }
    &__lists {
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      &__list {
        display: inline-block;
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 1rem;
      }
    }
  }
  .sorts {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .sort-likes {
      margin-left: 1rem;
    }
  }
}

.card_user_info {
  margin: 0.3rem 0 0 1.5rem;
  font-size: 1.5rem;
  display: flex;
  align-content: center;
  .user-link {
    display: inline-block;
    margin: auto;
    margin: auto 0;
    padding: 0;
  }
  .user-image {
    margin-left: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
}

.card-body {
  .card-title {
    font-size: 1.2rem;
    text-align: center;
  }
  &__menu {
    display: flex;
  }
}
.posts {
  display: flex;
  .card {
    width: 33%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    .card-img-top {
      height: 25%;
      width: 100%;
    }
    .remove-card {
      margin-left: 0.5rem;
      margin-right: 0;
    }
    .like {
      margin: auto 0;
      margin-left: 0.5rem;
      font-size: 1.3rem;
      .likes-link {
        text-decoration: none;
      }
    }
    .card-tags {
      height: 2rem;
      margin-top: 0.5rem;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      .card-tag {
        display: inline-block;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }
    }
  }
}
