.easy_login {
  text-decoration-style: none;
  height: 40px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  #easy_login {
    font-size: 30px;
  }
}

.devise_links {
  margin-left: 10px;
}