.easy_login {
  text-decoration-style: none;
  height: 40px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  #easy_login {
    font-size: 30px;
  }
}

.devise_links {
  float: right;
}

.form-check-input{
  margin-left: 5px;
}

.form-check-label {
  margin-left: 20px;
}

.forget_password {
  margin-top: 20px;
  float: left;
}