.user-show-info {
  height: 2rem;
  display: flex;
  align-content: center;
  margin-bottom: 0.5rem;
}
.user-show-menu {
  display: flex;
  justify-content: space-between;
  .post_search {
    display: flex;
    .form-controll {
      width: 20rem;
    }
  }
}
